@import "../utilidades/tipografia.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    background-color: var(--cor-0);
    color: var(--cor-9);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

.container1 {
    max-width: none;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

.login {
    position: relative;
    height: 90vh;
    align-items: center;
    overflow: hidden;
}

.login__box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--cor-1);
    border-radius: 1rem;
}

.login__input {
    background: none;
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 1.25rem;
    font-weight: var(--bold-font);
    border: 3px solid transparent;
    border-radius: 1rem;
    z-index: 1;
    transition: border-color .4s;
}

.login__input:autofill {
    transition: background-color 6000s, color 6000s;
}

.login__label {
    position: absolute;
    left: 1.25rem;
    font-weight: var(--bold-font);
    color: var(--cor-6);
    transition: transform .4s, font-size .4s, color .4s;
}

.login__icon {
    position: absolute;
    right: 1rem;
    font-size: 1.25rem;
    color: var(--cor-6);
    transition: color .4s;
}

.login__password {
    cursor: pointer;
    z-index: 10;
}

.login__forgot {
    display: block;
    width: max-content;
    margin: 1rem 0 0 auto;
    font-size: var(--normal-font);
    font-weight: var(--bold-font);
    color: var(--cor-6);
    transition: color .4s;
}

.login__forgot:hover {
    color: var(--cor-9);
}

.login__button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--cor-11);
    color: var(--cor-0);
    font-weight: var(--bold-font);
    padding-block: 1.5rem;
    border-radius: 4rem;
    margin-block: 2rem;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
}

.login__button:hover {
    background-color: var(--cor-p1);
    color: var(--cor-9);
    box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
}

.login__social {
    margin-bottom: 2rem;
}

.login__social-title {
    text-align: center;
    font-size: var(--normal-font);
    font-weight: var(--normal-font);
    color: var(--cor-11);
    margin-bottom: 1rem;
}

.login__social-img {
    width: 2rem;
}

.login__social-links {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.login__social-link {
    width: 56px;
    height: 48px;
    background-color: var(--cor-0);
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, .1);
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: transform .4s;
}

.login__social-link:hover {
    transform: translateY(-.25rem);
}

.login__switch {
    text-align: center;
    font-size: var(--normal-font);
}

.login__switch a {
    background: none;
    color: var(--cor-p2);
    font-size: var(--normal-font);
    font-weight: var(--bold-font);
    cursor: pointer;
    transition: color .4s;
}

.login__switch a:hover {
    color: var(--cor-p1);
}

.login__input:focus {
    padding-block: 2rem 1rem;
}

.login__input:focus~.login__label {
    transform: translateY(-20px);
    font-size: var(--tiny-font);
}

.login__input:not(:placeholder-shown).login__input:not(:focus)~.login__label {
    transform: translateY(-20px);
    font-size: var(--tiny-font);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) {
    padding-block: 2rem 1rem;
}

.login__input:focus {
    border-color: var(--cor-p1);
}

.login__input:focus~.login__label,
.login__input:focus~.login__icon {
    color: var(--cor-p1);
}

@media screen and (max-width: 320px) {

    .container1 {
        margin-inline: 1rem;
    }

}

@media screen and (min-width: 540px) {

    .login__area {
        width: 380px;
        margin-inline: auto;
    }

}

@media screen and (min-width: 350px) and (max-height: 600px) {

    .login {
        height: 760px;
    }

}

@media screen and (min-width: 1150px) {

    .container1 {
        margin-inline: auto;
    }

    .login__area {
        width: 460px;
    }

    .login__access,
    .login__register {
        width: auto;
    }

    .login__button {
        margin-bottom: 3rem;
    }

    .login__group {
        grid-template-columns: repeat(2, 1fr);
    }

}